.component-page-header {
  display: flex;
  align-items: center;
  min-height: 70px;
  border-bottom: 1px solid #80808038;

  .question {
    margin: 0;
    color: #242729;
    display: inline;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
  }
  .subheading {
    span {
      font-size: 12px;
      color: gray;
      font-weight: 400;
      margin-right: 5px;
      .value {
        color: #000000 !important;
      }
    }
  }
}

.question-block {
  .answer-body {
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.3;
  }
}
