<div class="component-page-header mb-2" *ngIf="answers">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h4 class="question">{{answers.title}}</h4>
        <div class="subheading">
          <span>Asked <span class="value">{{answers.creation_date | unixToDate | dateAgo}}</span> </span>
          <span>Active <span class="value">{{answers.last_activity_date | unixToDate | dateAgo}}</span>
          </span>
          <span>Viewed <span class="value">{{answers.view_count}} times</span> </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="answers">
  <div class="row">
    <div class="col-md-9 question-block">
      <div class="row">
        <div class="col-md-1 text-center">
          <div class="arrow-up"></div>
          <div class="score">{{answers.score}}</div>
          <div class="arrow-down"></div>
          <div class="star"></div>
        </div>
        <div class="col-md-11">
          <div class="answer-body" [innerHTML]="answers.body"></div>
          <div class="tags">
            <span *ngFor="let tag of answers.tags">{{tag}}</span>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-3 owner" *ngIf="answers?.last_editor">
              <p class="asked">edited {{answers.creation_date | unixToDate | date:"MMM d yyyy, hh:mm"}}</p>
              <img src="{{answers?.last_editor?.profile_image}}" alt="">
              <a href="{{answers.last_editor?.link}}" class="user-link"
                target="_blank">{{answers?.last_editor?.display_name}}</a>
              <span class="reputation" matTooltip="Reputation: {{answers?.last_editor?.reputation}}"
                matTooltipPosition="right">{{answers?.last_editor?.reputation}}</span>
              <div class="badge">
                <span *ngIf="answers.last_editor?.badge_counts.gold"
                  matTooltip="{{answers.last_editor?.badge_counts.gold}} gold badge" matTooltipPosition="above">
                  <div class="badge_gold"></div>
                  {{answers.last_editor?.badge_counts.gold}}
                </span>
                <span *ngIf="answers.last_editor?.badge_counts.silver"
                  matTooltip="{{answers.last_editor?.badge_counts.silver}} silver badge" matTooltipPosition="above">
                  <div class="badge_silver"></div>
                  {{answers.last_editor?.badge_counts.silver}}
                </span>
                <span *ngIf="answers.last_editor?.badge_counts.bronze"
                  matTooltip="{{answers.last_editor?.badge_counts.bronze}} bronze badge" matTooltipPosition="above">
                  <div class="badge_bronze"></div>
                  {{answers.last_editor?.badge_counts.bronze}}
                </span>
              </div>
            </div>
            <div class="col-md-3 owner active" [ngClass]="{'offset-md-3': !answers?.last_editor}">
              <p class="asked">asked {{answers.creation_date | unixToDate | date:"MMM d yyyy, hh:mm"}}</p>
              <img src="{{answers?.owner?.profile_image}}" alt="">
              <a href="{{answers.owner?.link}}" class="user-link" target="_blank">{{answers?.owner?.display_name}}</a>
              <span class="reputation" matTooltip="Reputation: {{answers?.owner?.reputation}}"
                matTooltipPosition="right">{{answers?.owner?.reputation}}</span>
              <div class="badge">
                <span *ngIf="answers.owner?.badge_counts.gold"
                  matTooltip="{{answers.owner?.badge_counts.gold}} gold badge" matTooltipPosition="above">
                  <div class="badge_gold"></div>
                  {{answers.owner?.badge_counts.gold}}
                </span>
                <span *ngIf="answers.owner?.badge_counts.silver"
                  matTooltip="{{answers.owner?.badge_counts.silver}} silver badge" matTooltipPosition="above">
                  <div class="badge_silver"></div>
                  {{answers.owner?.badge_counts.silver}}
                </span>
                <span *ngIf="answers.owner?.badge_counts.bronze"
                  matTooltip="{{answers.owner?.badge_counts.bronze}} bronze badge" matTooltipPosition="above">
                  <div class="badge_bronze"></div>
                  {{answers.owner?.badge_counts.bronze}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row answers mb-5">
        <div class="col-md-12">
          <h2>{{answers.answers?.length}} Answers</h2>
          <ngb-tabset justify="end" [activeId]="activeTab">
            <ngb-tab id="active">
              <ng-template ngbTabTitle>
                <div (click)="sortAnswer('activity')">Active</div>
              </ng-template>
              <ng-template ngbTabContent>
                <app-answers [answers]="answers?.answers"></app-answers>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="oldest">
              <ng-template ngbTabTitle>
                <div (click)="sortAnswer('creation')">oldest</div>
              </ng-template>
              <ng-template ngbTabContent>
                <app-answers [answers]="answers?.answers"></app-answers>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="votes">
              <ng-template ngbTabTitle>
                <div (click)="sortAnswer('votes')">votes</div>
              </ng-template>
              <ng-template ngbTabContent>
                <app-answers [answers]="answers?.answers"></app-answers>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
