<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-md-9 mt-3">
      <mat-card class="card mb-3" *ngFor="let question of questions">
        <mat-card-header>
          <img mat-card-avatar src="{{question?.owner?.profile_image}}" alt="question.owner.display_name" />
          <mat-card-title>{{question.title}}</mat-card-title>
          <mat-card-subtitle>By:-
            <a href="{{question?.owner?.link}}" target="_blank" matTooltip="Reputation: {{question?.owner?.reputation}}"
              matTooltipPosition="right">{{question?.owner?.display_name}}</a> | Viewed: {{question.view_count}}
            | {{question.answer_count}} answers | Created: {{question.creation_date | unixToDate | date:'medium'}} |
            Last Activity: {{question.last_activity_date | unixToDate | date:'medium'}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="site">
            <a href="{{question?.link}}" target="_blank">
              <img src="{{sites[0].favicon_url}}" matTooltip="View On: {{sites[0].site_url}}" matTooltipPosition="right"
                alt="sites[0].name" />
            </a>
            <div class="tags">
              <mat-chip-list *ngIf="question && question.tags" aria-label="Tags">
                <mat-chip color="accent" *ngFor="let tag of question.tags">{{tag}}</mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 mt-3">
      <mat-form-field>
        <mat-label>Site</mat-label>
        <mat-select [(value)]="selected">
          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
