$green: #48a868;
.card {
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 0px 1px rgba(0, 0, 0, 0.22);
  }
}

.site {
  a,
  .tags {
    display: inline-block;
  }
  a {
    margin-right: 5px;
    img {
      height: 25px;
      width: 25px;
    }
  }
}
.questions-block {
  padding-bottom: 15px;
  border-bottom: 1px solid #eff0f1;
  margin-bottom: 20px;
  .question-body {
    font-size: 13px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 20px !important;
    color: #3c4146;
  }
  .block-ellipsis {
    display: block !important;
    display: -webkit-box;
    max-width: 100%;
    height: 43px;
    margin: 0 auto;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.question-status {
  text-align: center;
  .votes,
  .answer,
  .views {
    margin-bottom: 5px;
    &.active {
      border: 1px solid $green;
      .value {
        color: $green;
      }
      .label {
        color: $green;
        padding-bottom: 3px;
      }
    }
    .value {
      font-size: 21px;
      font-weight: 400;
      color: gray;
    }
    .label {
      font-size: 10px;
      font-weight: 400;
      color: gray;
    }
  }
}

.question {
  font-size: 15px;
  color: #0095ff;
  cursor: pointer;
  &:hover {
    color: #0064bd;
  }
}
