/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
pre {
  margin-bottom: 1em;
  padding: 12px 8px;
  width: auto;
  max-height: 600px;
  overflow: auto;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    sans-serif;
  font-size: 13px;
  background-color: #eff0f1;
  border-radius: 3px;
}
code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    sans-serif;
  background-color: #eff0f1;
}

.tags {
  span {
    color: #39739d;
    background-color: #e1ecf4;
    border-color: #e1ecf4;
    padding: 0.4em 0.5em;
    margin: 2px 7px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
  }
}

.owner {
  &.active {
    border-radius: 5px;
    background-color: #e1ecf4;
    padding: 4px 10px;
  }
  .asked {
    color: gray;
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 12px;
    white-space: nowrap;
  }
  img {
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-right: 7px;
  }
  .user-link {
    display: block;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: -4px;
  }
  .user-subhead {
    font-size: 10px;
    font-weight: 600;
    color: gray;
  }
  .reputation {
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
    color: #848d95;
  }
  .badge {
    font-weight: 400;
    font-size: 12px;
    div {
      margin-left: 2px;
      width: 6px;
      height: 6px;
      display: inline-block;
      border-radius: 50px;
      vertical-align: middle;
      margin-bottom: 2px;
    }
    div.badge_bronze {
      background: #f48024;
    }
    div.badge_silver {
      background: #d6d9dc;
    }
    div.badge_gold {
      background: gold;
    }
  }
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  position: relative;
  padding: 13px 10px;
  font-size: 12px;
  color: #848d95;
  &.active {
    color: #0c0d0e;
    border-top: 2px solid #f48024;
  }
  &:hover{
    color: #535a60;
    background-color: rgba(132,141,149,0.05);
    border-color: rgba(228,230,232,0.25);
    border-bottom-color: transparent;
  }
}

.tab-content {
  padding-top: 20px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  margin: 0 auto;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #bbc0c4;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #bbc0c4;
  margin: 0 auto;
}
.score{
  font-size: 20px;
  color: gray;
  margin: 4px 0 3px 0;
}
.star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-bottom: 1.2em;
  border-right: 0.4em solid transparent;
  border-bottom: 0.7em solid #bbc0c4;
  border-left: 0.3em solid transparent;
  font-size: 9px;
  margin: 0 auto;
  &:before, &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #bbc0c4;
    border-left:   1em solid transparent;
    transform: rotate(-35deg);
  }
  &:after {  
    transform: rotate(35deg);
  }
}

.per-page{
  background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    padding: 4px 8px;
    font-size: 12px;
    color: #848d95;
}